body {
    background-color: #5CDB95;
}
nav {
    color: #05386B;
    background-color: #EDF5E1;
    font-size: 1.5em;
}
h1 {
    color: #EDF5E1;
    font-size: 4em;
}
main {
    color: white;
    background-color: #8EE4AF;
    font-size: 2em;
}
g {
      color: #EDF5E1;
    font-size: 2em;  
}